body {
  font-family: 'Spline Sans Mono', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AR One Sans', sans-serif;
  font-size: 2.4rem;
}

a {
  color: rgba(var(--dark_400), 1);
}

a:hover, a:active{
  text-decoration: line-through;
}

.navbar-nav {
  font-family: 'AR One Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.1px;
  line-height: 2.5rem;
}

.nav-link {
}

.navbar-brand {
  font-size: 1.8rem;
}

.navbar-brand:hover {
  text-decoration: none;  /* disable our general link-hover style*/
}

.nav-link:hover {
  text-decoration: none;  /* disable our general link-hover style*/
  border-bottom: 1px solid;
}

.nav-link.active {
  color: rgba(var(--dark_800), 1);
  border-bottom: 1px solid;
}

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.video iframe {
  float: right;
  width: 320px;
  height: 240px;
  margin-left: 1em;
}


.card-body {
  font-size: 1em;
}

.card-header {
  font-family: 'AR One Sans', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 1.6px;
  line-height: 2.5rem;
}

.card-title {
  letter-spacing: 0;
  font-size: 1em;
}
.card-text {
  font-size: 0.8em;
}
.card-status {
  letter-spacing: 0;
  margin-top: 2px;
  font-size: 0.8em;
}

.card-body a {
  font-size: 0.8em;
}
