/* Common Elements Layout START */
body {
  font-family: 'Spline Sans Mono', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AR One Sans', sans-serif;
  font-size: 2.4rem;
}

a {
  color: rgba(var(--dark_400), 1);
}

a:hover, a:active{
  text-decoration: line-through;
}

hr {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
/* Common Elements Layout END */

/* Navigation Layout START */
.navbar {
}

.navbar-nav {
  font-family: 'AR One Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.1px;
  line-height: 2.5rem;
}

.navbar-brand {
  font-size: 1.8rem;
}

.navbar-brand:hover {
  text-decoration: none;  /* disable our general link-hover style*/
}

.nav-link {
  border: 1px solid transparent;
}

.nav-link-logout {
  font-size: 0.8rem;
  line-height: 0.5rem;
  position: relative;
  top: 2rem;
  left: 0.5rem;
}

.nav-link:hover {
  text-decoration: none;  /* disable our general link-hover style*/
  border-bottom: 1px solid;
}

.nav-link.active {
  color: rgba(var(--dark_800), 1);
  border-bottom: 1px solid;
}

.nav-tooltip {
  font-size: 0.6rem;
  line-height: 1rem;
  position: relative;
  top: 1rem;
  left: 0.5rem;
  /*
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  */
  /* background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.nav-tooltip-hidden {
  display: none;
}

.nav-tooltip-visible {
}
/* Navigation Layout END */


/* Card Layout START */
.card-body a {
  font-size: 0.8em;
}

.card-header {
  font-family: 'AR One Sans', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  letter-spacing: 1.6px;
  line-height: 2.5rem;
}

.card-title {
  letter-spacing: 0;
  font-size: 1.2em;
}

.card-text {
  font-size: 0.8em;
}

.card-status-error {
  letter-spacing: 0;
  margin-top: 2px;
  font-size: 0.6em;
  background-color: lightcoral;
}

.card-status-success {
  letter-spacing: 0;
  margin-top: 2px;
  font-size: 0.6em;
  background-color: lightgreen;
}

.card-note {
  font-size: 0.7em;
}
/* Card Layout END */
